<div class="header">
    <h1>Todo List Web App</h1>
</div>

<div class="content">

</div>

<br>

<div class="form">
    <%= form_tag '', method: 'post', id: 'formItem' do %>
        <input type="text" name="title" required>
        <input type="submit" value="Add">
    <% end %>
</div>